<ul class="list-unstyled list-usp">
    <li>
        <img src="{{ 'usp-1.png' | asset_url }}">
        <p>Fresh from the local farm</p>
    </li>
    <li>
        <img src="{{ 'usp-2.png' | asset_url }}">
        <p>Save up to 50% vs grocery store</p>
    </li>
    <li>
        <img src="{{ 'usp-3.png' | asset_url }}">
        <p>Enjoy specialty artisan food</p>
    </li>
</ul>
