<div class="container-top landing-page">
	{% section 'landing-page-image-featured' %}
	<div>{{ page.content }}</div>
</div>

<div class="container-middle landing-page">
	{% section 'collections-featured' %}
</div>

<div class="container-bottom landing-page">
	{% section 'best-sellers' %}
</div>