<div class="rte">
    {{page.content}}

    {% assign current = "" %}
    {% for product_vendor in shop.vendors %}
    {% assign first_letter = product_vendor | strip_html | upcase | truncate: 1, '' %}
        {% unless first_letter == current %}
            </ul>
            <h4>{{ first_letter }}</h4>
            <ul class="brands">
        {% endunless %}
        <li>{{ product_vendor | link_to_vendor  }}</li>
        {% assign current = first_letter %}
    {% endfor %}
    </ul>
</div>