<div class="collections-list showing-3-per-row">
	
  {% if linklists[page.handle].links.size > 0 %}
  	{% for link in linklists[page.handle].links %}
  		{% if link.type == 'collection_link' %}
  			{% include 'collection-list-item' with 'linklist' %}
  		{% endif %}
  	{% endfor %}
		{% else %}
			<div class="empty">
				<i class="milkicon-cart empty-picto"></i>
				<p>This collection is empty at the moment.</p>
			</div>
  {% endif %}
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	$("body").addClass('template-list-collections');
  });
</script>